In [243]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline
from IPython.display import display
from sklearn.metrics import r2_score

In [163]:
# get our initial data
immig = pd.read_csv('Datasets/ImmigrationByCountryAndYear.csv').transpose()
immig_regions = immig.iloc[0]
immig = immig[1:]
immig = immig.rename(columns = immig_regions)
immig = immig[::-1]
display(immig)

,Total,Reported by region and/or country,Europe,Northern and Western Europe,Northern Europe,British Isles,United Kingdom (total),Great Britain (total),England,Scotland,...,South America,Northern America,Canada,Canada-French,Canada-Other,Newfoundland,Other Northern America,Region or country not reported,Born at sea,Not reported
1850,"2,244,602","2,202,625","2,031,867","2,022,195","1,358,887","1,340,812",(X),"379,093","278,675","70,550",...,"1,543","147,711","147,711",(NA),(NA),(NA),(NA),"41,977",(NA),"41,977"
1860,"4,138,697","4,134,809","3,807,062","3,773,347","2,271,661","2,199,079",(X),"587,775","431,692","108,518",...,"3,263","249,970","249,970",(NA),(NA),(NA),(NA),"3,888","2,522","1,366"
1870,"5,567,229","5,563,637","4,941,049","4,845,679","2,867,926","2,626,241",(X),"770,414","550,924","140,835",...,"3,565","493,467","493,464",(NA),(NA),(NA),3,"3,592","2,638",954
1880,"6,679,943","6,675,875","5,751,823","5,499,889","3,212,431","2,772,169",(X),"917,598","662,676","170,136",...,"4,566","717,286","717,157",(NA),(NA),(NA),129,"4,068","4,068",(NA)
1890,"9,249,547","9,243,535","8,030,347","7,288,917","4,056,160","3,122,911",(X),"1,251,402","908,141","242,231",...,"5,006","980,938","980,938","302,496","678,442",(NA),(NA),"6,012","5,533",479
1900,"10,341,276","10,330,534","8,881,548","7,204,649","3,917,815","2,783,082",(X),"1,167,623","840,513","233,524",...,"4,733","1,179,922","1,179,922","395,126","784,796",(NA),(NA),"10,742","8,196","2,546"
1910,"13,515,886","13,506,272","11,810,115","7,306,325","3,953,947","2,573,534",(X),"1,221,283","877,719","261,076",...,"8,228","1,209,717","1,209,717","385,083","819,554","5,080",(NA),"9,614","6,927","2,687"
1920,"13,920,692","13,911,767","11,916,048","6,241,916","3,501,149","2,172,723",(X),"1,135,489","813,853","254,570",...,"18,551","1,138,174","1,138,174","307,786","817,139","13,249",(NA),"8,925","5,336","3,589"
1950,"14,204,149","14,197,553","11,784,010","5,850,256","3,415,551","2,147,733","1,402,923","1,224,091","809,563","354,323",...,"33,623","1,310,369","1,310,369","370,852","915,537","23,980",(NA),"6,596","5,008","1,588"
1960,"9,738,091","9,678,201","7,256,311","3,334,971","1,694,430","1,171,777","833,055","764,893","528,205","213,219",...,"89,536","952,500","952,500",(NA),(NA),(NA),(NA),"59,890",(NA),(NA)
1970,"9,619,302","9,303,570","5,740,891","2,629,200","1,271,591","937,474","686,099","645,262","458,114","170,134",...,"255,238","812,421","812,421",(NA),(NA),(NA),(NA),"315,732",(NA),(NA)
1980,"14,079,906","13,192,563","5,149,572","2,384,257","1,083,499","866,966","669,149","649,318","442,499","142,001",...,"561,011","853,427","842,859",(NA),(NA),(NA),"10,568","887,343",(NA),(NA)
1990,"19,767,316","18,959,158","4,350,403","2,058,853","968,271","809,972","640,145","623,614","405,588","104,168",...,"1,037,497","753,917","744,830",(NA),(NA),(NA),"9,087","808,158",(NA),(NA)
2000,"31,107,889","31,107,573","4,915,557","2,070,446","974,619","834,225","677,715","677,751","423,609","88,445",...,"1,930,271","829,442","820,771",(NA),(NA),(NA),"8,671",316,(NA),(NA)

In [152]:
# then clean our names
names = pd.read_csv('Datasets/NationalNames.csv', delimiter = ',', usecols = [1, 2, 3, 4])
names = names.groupby(['Name', 'Year'])['Count'].sum()
names = names.unstack(level=0)
display(names.head())

Name,Aaban,Aabha,Aabid,Aabriella,Aadam,Aadan,Aadarsh,Aaden,Aadesh,Aadhav,...,Zyshon,Zyshonne,Zytaevius,Zytaveon,Zytavion,Zytavious,Zyvion,Zyyanna,Zyyon,Zzyzx
Year,,,,,,,,,,,,,,,,,,,,,
1880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
# now groupby 10 and at last we have what we want
names_10 = names.groupby([(y / 10) * 10 for y in names.index.values]).sum().fillna(0)
display(names_10)

Name,Aaban,Aabha,Aabid,Aabriella,Aadam,Aadan,Aadarsh,Aaden,Aadesh,Aadhav,...,Zyshon,Zyshonne,Zytaevius,Zytaveon,Zytavion,Zytavious,Zyvion,Zyyanna,Zyyon,Zzyzx
1880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1920,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1980,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1990,0.0,0.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,...,8.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000,11.0,0.0,5.0,5.0,74.0,58.0,109.0,2535.0,10.0,16.0,...,11.0,45.0,0.0,0.0,0.0,37.0,5.0,0.0,0.0,0.0
2010,61.0,21.0,0.0,5.0,70.0,54.0,49.0,1385.0,5.0,86.0,...,0.0,0.0,5.0,15.0,5.0,6.0,0.0,6.0,6.0,5.0

In [262]:
# get some useful tools out of the way now
# to check for empty values in immigration
import re
numeric = re.compile("\d+(?:,\d+)?")
# display(s[s.str.match("\d+(?:,\d+)?")])
# to normalize series
def normalize(series):
    max_val = series.max()
    min_val = series.min()
    return (series - min_val) / (max_val - min_val)
def standardize(series):
    return (series - series.mean()) / series.std()

In [259]:
region_dict = {}
# short circuit example:
# for region in immig.columns[:5]:
for region in immig.columns:
    # this takes a while, so just to track progress--
    print 'Calculating ', region, ' :',
    region_vals = immig[region].fillna('(NA)')
    # filter for only immigration years with present values
    region_vals = region_vals[region_vals.str.match("\d+(?:,\d+)?")]
    # find the years both names and immigration have
    # handle string nature of immigration years
    common_years = names_10.index.intersection(region_vals.index.map(int))
    # filter immigration years by common years, handling int/str switch
    region_vals = region_vals[map(str, common_years)]
    # then map back to int, handling commas
    region_vals = region_vals.apply(lambda x: int(x.replace(',', '')))
    # and normalize
    region_vals = normalize(region_vals)
    region_dict[region] = []
    name_num = 0
    # short circuit example:
    # for name in names_10.columns[:10000]:
    for name in names_10.columns:
        # more progress tracking
        if name_num % 5000 == 0:
            print name, '...',
        name_vals = names_10[name]
        name_vals = name_vals[common_years]
        name_vals = normalize(name_vals)
        # handle some empty arrays because 2010 exclusion
        if name_vals.isnull().any():
            score = -10
        else:
            # first value is true--actual immigration data
            # second value is predict--name data we're trying to use as model
            score = r2_score(region_vals, name_vals)
        region_dict[region].append((name, score))
        name_num += 1
    print 'done!'

 Calculating  Total  : Aaban ... Analysia ... done!
Calculating  Reported by region and/or country  : Aaban ... Analysia ... done!
Calculating  Europe  : Aaban ... Analysia ... done!
Calculating  Northern and Western Europe  : Aaban ... Analysia ... done!
Calculating  Northern Europe  : Aaban ... Analysia ... done!

In [261]:
for region in region_dict:
    name_scores = region_dict[region]
    name_scores = sorted(name_scores, key=lambda x: -x[1])
    name_scores = [(x[0], round(x[1], 2)) for x in name_scores]
    region_dict[region] = name_scores
    print region, ': ', name_scores[:10]

Europe :  [('Artie', 0.87), ('Ardelia', 0.83), ('Annice', 0.79), ('Aleda', 0.76), ('Anice', 0.75), ('Adolphus', 0.73), ('Aggie', 0.72), ('Algie', 0.66), ('Ardie', 0.65), ('Archie', 0.63)]
Northern and Western Europe :  [('Bama', 0.74), ('Augusta', 0.7), ('Ada', 0.62), ('Attie', 0.61), ('Arrie', 0.54), ('Artie', 0.54), ('Addie', 0.53), ('Arch', 0.48), ('Anner', 0.47), ('Albertine', 0.44)]
Total :  [('Adel', 0.91), ('Audrie', 0.89), ('Amiel', 0.89), ('Aubry', 0.89), ('Aldo', 0.88), ('Ashby', 0.88), ('Aurora', 0.87), ('Adelina', 0.87), ('Abraham', 0.86), ('Annalee', 0.86)]
Reported by region and/or country :  [('Audrie', 0.9), ('Aurora', 0.89), ('Amiel', 0.88), ('Adel', 0.88), ('Aubry', 0.88), ('Aldo', 0.87), ('Adelina', 0.87), ('Baker', 0.86), ('Annabel', 0.86), ('Annia', 0.86)]
Northern Europe :  [('Bama', 0.7), ('Augusta', 0.67), ('Ada', 0.59), ('Attie', 0.59), ('Artie', 0.52), ('Arrie', 0.52), ('Arch', 0.51), ('Addie', 0.5), ('Anner', 0.45), ('Adda', 0.43)]